<nav>
  <div class="logo">
    <h1>travell</h1>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="hotel" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-building" aria-hidden="true"></i>Hotéis</a></li>
    </ul>
    <ul>
      <li><a routerLink="viagem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-plane" aria-hidden="true"></i>Voos</a></li>
    </ul>
    <ul>
      <li><a routerLink="pacote" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-suitcase" aria-hidden="true"></i>Pacotes</a></li>
    </ul>
  </div>
  <div class="account">
    <ul>
      <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Iniciar Sessão</a></li>
      <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Cadastre-se</a></li>
    </ul>
  </div>
</nav>
