@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: #212121;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > h1 {
  font-size: 4.5em;
  font-weight: 500;
  font-family: 'Poiret One';
  color: #efefef;
  // text-transform: uppercase;
}

.menu {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu > ul > li > a {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 30px;
  color: #fafafaa6;
}
