<nav>
  <header>
    <div class="logo">
      <h1>travell</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="hotel" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Hotéis</a></li>
      </ul>
      <ul>
        <li><a routerLink="viagem" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Voos</a></li>
      </ul>
      <ul>
        <li><a routerLink="pacote" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Pacotes</a></li>
      </ul>
    </div>
    <div class="account">
      <ul>
        <li><a href="#">Iniciar Sessão</a></li>
        <li><a href="#">Cadastre-se</a></li>
      </ul>
    </div>
  </header>
</nav>
