@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

ul {
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  // border-bottom: 1px solid #00000056;
  z-index: 100;
}

.logo {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > h1 {
  margin: 8px;
  font-size: 4.8em;
  font-weight: 900;
  font-family: 'Poiret One';
  color: #efefef;
  letter-spacing: 8px;
}

.menu {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu::before {
  content: '';
  width: 80px;
  height: 3px;
  margin-right: 30px;
  background-color: #b19913;
}

.menu::after {
  content: '';
  width: 80px;
  height: 3px;
  margin-left: 30px;
  background-color: #b19913;
}

.menu ul li a.active-link {
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to right bottom, #b19913, #d4b816, #ebc805);
}

.menu .fa-building, .fa-plane, .fa-suitcase, .fa-sign-in, .fa-user-circle-o {
  margin-right: 5px;
}

.menu > ul > li > a {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 8px 30px;
  color: #fafafaa6;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: all ease .3s;
}

.menu > ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.account {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account > ul > li > a {
  font-size: .9rem;
  font-weight: 300;
  padding: 8px 15px;
  color: #fff;
  letter-spacing: 1px;
  transition: all ease .3s;
}

.account > ul > li > a:hover {
  color: #fafafaa6;
}
