<main>
  <div class="banner">
    <div class="form">
      <span>Passagens Aéreas</span>
      <div class="search-box">
        <div class="search-1">
          <span>De onde você está saindo?</span>
          <input type="text" name="search" placeholder="Pesquise cidade ou aeroporto">
        </div>
        <div class="search-1-2">
          <span>Para onde você vai?</span>
          <input type="text" name="search" placeholder="Pesquise cidade ou aeroporto">
        </div>
        <div class="search-2">
          <span>Passageiros</span>
          <input type="text" name="search" placeholder="Check-in">
        </div>
        <div class="button">
          <br>
          <a href="#">Buscar Voos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="headContent">
      <span>Hotéis com até 50% de Desconto</span>
      <button>Nacional</button>
    </div>
    <div class="bodyContent">
      <div class="rowCards">
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-sao-paulo.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">São Paulo</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>140</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-belo-horizonte.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Belo Horizonte</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>426</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-curitiba.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Curitiba</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>436</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-salvador.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Salvador</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>495</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
      </div>
      <div class="rowCards">
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-florianopolis.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Florianópolis</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>457</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-fortaleza.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Fortaleza</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>550</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-recife.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Recife</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>583</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/city/melhores-destinos-rio-de-janeiro.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Bauru para</span>
            <span class="name">Rio de Janeiro</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>623</span>
              </b>
            </div>
            <span class="destination">Apenas Ida</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
