<main>
  <div class="banner">
    <div class="form">
      <span>Passagens Aéreas</span>
      <div class="search-box">
        <div class="search-1">
          <span>De onde você está saindo?</span>
          <input type="text" name="search" placeholder="Busque por Aeroporto">
        </div>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <div class="search-1-2">
          <span>Para onde você vai?</span>
          <input type="text" name="search" placeholder="Busque por Aeroporto">
        </div>
        <div class="search-2">
          <span>Passageiros</span>
          <input type="text" name="search" placeholder="Selecione a Quantidade">
        </div>
        <div class="button">
          <br>
          <a href="#">Buscar Voos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="headContent">
      <span>Voos com até 20% de Desconto</span>
      <div class="btnBox">
        <button class="nacional">Nacional</button>
        <button class="internacional">Internacional</button>
      </div>
    </div>
    <div class="bodyContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
