<main>
  <div class="banner">
    <div class="form">
      <span>Hotéis</span>
      <div class="search-box">
        <div class="search-1">
          <span>Para onde você vai?</span>
          <input type="text" name="search" placeholder="Pesquise cidade ou aeroporto">
        </div>
        <div class="search-2">
          <span>Escolha o período</span>
          <input type="text" name="search" placeholder="Check-in">
        </div>
        <div class="button">
          <br>
          <a href="#">Buscar Hotéis</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="headContent">
      <span>Hotéis Internacionais com até 50% de Desconto</span>
      <div class="btnBox">
        <a routerLink="../nacional">
          <button class="nacional">Nacional</button></a>
        <a routerLink="../internacional">
          <button class="internacional">Internacional</button>
        </a>
      </div>
    </div>
    <div class="bodyContent">
      <div class="rowCards">
        <div class="card">
          <div class="img">
            <img src="https://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/10/24/1024314_v1.jpeg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">San Antônio</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>3.669</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-franca.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">França</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>11.519</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/12/65/1265111_v9.jpeg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Miami</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>1.203</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-inglaterra.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Inglaterra</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>5.375</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
      </div>
      <div class="rowCards">
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-portugal.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Portugal</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>4.984</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-espanha.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Espanha</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>4.597</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-estados-unidos.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Estados Unidos</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>2.428</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
        <div class="card">
          <div class="img">
            <img src="https://123milhas.com/img/best-destinations/country/melhores-destinos-argentina.jpg">
          </div>
          <div class="text-buy">
            <span class="destiny">Hotel em</span>
            <span class="name">Argentina</span>
            <div class="buy-content">
              <span>A partir de:</span>
              <b class="price">
                <small>R$</small>
                <span>1.378</span>
              </b>
            </div>
            <span class="destination">Aproveite sua viagem!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
