<div class="container">
  <div class="banner">
    <div class="form">
      <span>Hotéis</span>
      <div class="search-box">
        <div class="search-1">
          <span>Para onde você vai?</span>
          <input type="text" name="search" placeholder="Pesquise cidade ou aeroporto">
        </div>
        <div class="search-2">
          <span>Escolha o período</span>
          <input type="text" name="search" placeholder="Check-in">
        </div>
        <div class="button">
          <br>
          <a href="#">Buscar Hotéis</a>
        </div>
      </div>
    </div>
  </div>
</div>
